<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--IE8兼容渲染和设备自适应meta:常用meta-->
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE8兼容渲染和设备自适应meta:常用meta  END-->
    <title>Index</title>
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <style>
        #listPass{cursor: pointer}
        #listPass:hover{font-size: 19px;color: cadetblue}
    </style>
</head>
<body>
    <h2>Welcome To Index</h2></br>
    <div>You may want to go to the <span id="listPass"><a href="goUserList">List</a></span></div>
</body>
</html>